// Variaveis do grid

$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Mixin de media-querie

@mixin d($size) {
  @if ($size == l) {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if($size == m) {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  } @else if($size == s) {
    @media screen and(max-width: #{$m-device - 1} ) {
      @content;
    }
  }
}

// Função do grid

@function grid($col, $offset: false) {
  $width: calc(($col / $cols) * 100) + "%";
  $result: calc(#{$width} - #{$gutter});
  @if ($offset == offset) {
    $gutter: calc($gutter / 2);
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

// Gera as classes de grid

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

// Mixin estrutura do grid

@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: calc($gutter / 2);
  margin-right: calc($gutter / 2);
  @include d(s) {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

[class^="grid-"] {
  @include grid-structure;
}

// Gera as clases de offset

@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include d(s) {
  %offset {
    margin-left: 0px;
  }
}

// Mixin de clearfix

@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0 auto;
  position: relative;
  @include d(m) {
    max-width: $m-device;
  }
  @include d(s) {
    max-width: $s-device;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  position: relative;
  margin-left: calc(($gutter / 2) * -1);
  margin-right: calc(($gutter / 2) * -1);
  @include d(s) {
    margin-left: 0;
    margin-right: 0;
  }
  @include clearfix;
}

.row {
  @include row;
}
